body{
    background : #333;
}
.pointerOutside{
    height : 30px;
    width : 30px;
    border-radius: 50%;
    background : rgba(0,0,0,0.1);
    border : 1px solid rgb(197, 114, 114);
    display : flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.pointerCenter{
    height : 5px;
    width : 5px;
    border-radius: 50%;
    background : rgb(163, 56, 56);
    z-index: -1;
}

/* .outerDiv{
    position: relative;
    height : 30px;
    width : 30px;
    background : rgba(0,0,0);
    border : 1px solid rgb(255, 1, 1);
    border-radius: 100%;
}

.innerDiv{
    content: '';
    top: 20px;
    left: 20px;
    position: absolute;
    height : 5px;
    width : 5px;
    border-radius: 100%;
    background : rgb(163, 56, 56);
} */